@font-face {
    font-family: "workon";
    src: url(/fonte_work/Arboria-Book.ttf);
}

/* ------------------ DECLARAÇÕES GERAIS | JESUS TE AMA------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: workon;
}

/* ------------------ DECLARAÇÃO DE CORES | JESUS TE AMA------------------ */
:root{
    --fundo: #FEFAF3;
    --texto: #005A9E;
}

/* ------------------ BODY | JESUS TE AMA------------------ */
body {
    background-color: var(--fundo);
    background-image: url(assets/img/fundo_work_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* ------------------ MAIN | JESUS TE AMA------------------ */
main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* ------------------RIGHT MAIN | JESUS TE AMA------------------ */

.right-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    left: 20vw;
}

.right-main h1{
    color: black;
    font-size: 3rem;
    text-align: center;
}

/* ------------------FORM LOGIN | JESUS TE AMA------------------ */

#formLogin {
    display: flex;
}
#formCadastro {
    display: none;
}

/* ------------------FORM CADASTRO | JESUS TE AMA------------------ */

#formCadastro, #formLogin{
    width: 30%;
    height: 80%;
    background-color: #FAF9FA;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 10px;
}
.titulo-cadastro h2,.titulo-login > h2 {
    font-size: 1rem;
    text-align: center;
    color: black;
}
#mudarPLogin, #mudarPCadastro {
    color: var(--texto);
    cursor: pointer;
}

.inputs-cadastro, .inputs-login{
    width: 20vw;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.inputs-cadastro input, .inputs-login  input {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid white;
    background-color:#FFFEFE;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    color: black;
    outline: none;
    font-size: 1rem;
}
.inputs-cadastro > input::placeholder, .inputs-login > input::placeholder {
    color: black;
}
.inputs-cadastro > input:focus, .inputs-login > input:focus {
    
    box-shadow: 1px 1px 5px #3399FF	, -1px -1px 5px #3399FF	;
}

/* ------------------BUTTON FAZER CADASTRO | JESUS TE AMA------------------ */
.fazer-cadastro, .fazer-login{
    width: 20vw;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.fazer-cadastro > button, .fazer-login > button {
    width: 100%;
    height: 6vh;
    border: none;
    background-color: var(--texto);
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.fazer-cadastro > button:hover, .fazer-login > button:hover {
    background-color:#0082e6;
    transition: 0.3s;
}
.fazer-cadastro p, .fazer-login p {
    text-align: center;
    color: black;
}
#cadastrarOutlook, #entrarOutlook {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
#cadastrarOutlook > img, #entrarOutlook > img {
    width: 5%;
}

/* ------------------ RESPONSIVIDADE | JESUS TE AMA------------------ */
@media screen and (max-width: 768px) {
    .right-main{
        left: 0;
    }
    #formCadastro, #formLogin{
        width: 90%;
        height: 60%;
    }
    .inputs-cadastro, .inputs-login{
        width: 90%;
    }
    .fazer-cadastro, .fazer-login{
        width: 90%;
    }
}
