@font-face {
    font-family: "workon";
    src: url(/fonte_work/Arboria-Book.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: workon;
}

:root{
    --fundo: #FEFAF3;
    --texto: #005A9E;
}

body {
    background-color: var(--fundo);
    /* background: linear-gradient(135deg, 
    #0083B1, #0076A9, #006DA8, #006CA2, #00689B, 
    #00629D, #0067A3, #006198, #005C9A, #005A94); */
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
/* ------------------ LEFT MAIN------------------ */

.left-main{
    width: 50%;
    height: 100%;
}
/* ------------------RIGHT MAIN------------------ */

.right-main{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid black;
}

.right-main h1{
    color: black;
    /* color: white; */
    font-size: 3rem;
    text-align: center;
}

/* ------------------FORM LOGIN------------------ */

#formLogin {
    display: flex;
}
#formCadastro {
    display: none;
}

/* ------------------FORM CADASTRO------------------ */

#formCadastro, #formLogin{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.titulo-cadastro,.titulo-login > h2 {
    font-size: 0.8rem;
    text-align: center;
    color: black;
}
#mudarPLogin, #mudarPCadastro {
    color: var(--texto);
    cursor: pointer;
}
.inputs-cadastro, .inputs-login{
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* border: 1px solid black; */
}
.inputs-cadastro input, .inputs-login  input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid white;
    background-color:#EBEEF0;
    /* background: rgba(198, 198, 198, 0.34); */
    color: black;
    outline: none;
}
.inputs-cadastro input, .inputs-login  input {
    color: #E9EDEF;
}
.inputs-cadastro > input::placeholder, .inputs-login > input::placeholder {
    color: black;
}
.inputs-cadastro > input:focus, .inputs-login > input:focus {
    
    box-shadow: 1px 1px 5px #005A9E, -1px -1px 5px #005A9E;
}

/* ------------------BUTTON FAZER CADASTRO------------------ */
.fazer-cadastro, .fazer-login{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    
}
.fazer-cadastro > button, .fazer-login > button {
    width: 100%;
    height: 30%;
    border: none;
    background-color: var(--texto);
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.fazer-cadastro > button:hover, .fazer-login > button:hover {
    background-color:#0082e6;
    transition: 0.3s;
}
.fazer-cadastro p, .fazer-login p {
    text-align: center;
    color: black;
}
#cadastrarOutlook, #entrarOutlook {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
#cadastrarOutlook > img, #entrarOutlook > img {
    width: 5%;
}