@font-face {
    font-family: "workon";
    src: url(/fonte_work/Arboria-Book.ttf);
}

/* ------------------ DECLARAÇÕES GERAIS | JESUS TE AMA------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: workon;
}

/* ------------------BODY | JESUS TE AMA------------------ */
body {
    background-image: url(assets/img/fundo_work_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

/* ------------------ MAIN | JESUS TE AMA------------------ */
main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}

/* ------------------ LEFT-MAIN | JESUS TE AMA------------------ */
.left-main{
    width: 48vw;
    height: 100vh;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff; 
}
h1{
    font-size: 3rem;
}
h1 img{
    position: relative;
    bottom: -18px;
    width: 25%;
    
}

/* -------------INFO-MAIS | JESUS TE AMA-------------- */
.info-mais{
    width: 20%;
    height: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.2rem;
}
.info-mais span{
    width: fit-content;
    font-size: 1.3rem;
    display: inline;
    color: #FFF89A;


    border-bottom-left-radius: 5px;
}
/* ---------- ADD-TERMO | JESUS TE AMA---------- */
.add-termo{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
}
#addTermo {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    
}
#addTermo:hover{
    color: #00FF08;
    transition: 0.3s;
}
#imgAddTermo {
    display: flex;
    width: 30%;
}

.box-flutuante-add-termo{
    width: 28vw;
    height: 18vh;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    background-color: #00ca4de0;
    color: white;
    position: absolute;
    z-index: 1000;
    left: 40px;
    bottom: 100px;
}
.box-flutuante-add-termo span {
    font-weight: bold;
}
#fecharAddTermo{
    width: 6%;
    position: relative;
    top: 5%;
    left: -46%;
    cursor: pointer;
    transition: 0.3s;
}
#fecharAddTermo:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* ------------------ RIGHT-MAIN | JESUS TE AMA------------------ */
.right-main{
    width: 50vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    place-items: center;
}

/* From Uiverse.io by Fcodingx */ 

.card {
    width: 100%;
    height: 42%;
    padding: 0.5rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: white;
  }
  .card:hover {
    height: 90%;
    transform: skew(0deg);
  }
  
  .align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
  }
  
  .red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
  .yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
  .green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
  .card h2 {
    text-align: center;
    font-size: 3rem;
    margin: 1.3rem;
    color: white;
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  }
  
.buttons-card{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.button-termo{
    width: 60%;
    padding: 0.5rem;
    border: 1.5px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.7s;
}
.button-termo a{
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: end;
}

.button-termo:hover{
    transform: scale(0.9);
    transition: transform 0.7s;
}
.button-termo img{
    width: 10%;
    
}

/* ------------------ RESPONSIVIDADE | JESUS TE AMA------------------ */ 

@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
        align-items: center;
    }
    .left-main{
        width: 100vw;
        height: 28vh;
    }
    h1{
        font-size: 2.5rem;
    }
    h1 img{
        position: relative;
        bottom: -10px;
        width: 35%;
        
    }
    .info-mais{
        width: 40%;
    }
    .right-main{
        width: 90vw;
        height: 70%;
        column-gap: 1rem;

    }
    .card:focus{
        height: 90%;
        transform: skew(0deg);
    }
    .card h2 {
        font-size: 1.5rem;
    }
    .box-flutuante-add-termo{
        width: 90vw;
        height: 20vh;
        position: relative;
        left: 10px;
        top: 32px;
        font-size: 0.8rem;
    }
    .info-mais{
        gap: 0.2rem;
    }
    .button-termo{
        width: 100%;
    }
    .button-termo a{
        font-size: 0.7rem;
        align-items: center;
    }


}