@font-face {
    font-family: "workon";
    src: url(/fonte_work/Arboria-Book.ttf);
}
@font-face {
    font-family: "workon-bold";
    src: url(/fonte_work/Arboria-Bold.ttf);
}

/* ------------------DECLARAÇÕES GERAIS | JESUS TE AMA------------------ */
*{
    font-family: "workon";
}

span{
    font-family: "workon-bold";
}

/* ------------------MAIN | JESUS TE AMA------------------ */
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    width: 60%;
}
img{
    margin: 3%;
    border: 1px solid black;
    width: 30%;
}