@font-face {
    font-family: "workon";
    src: url(/fonte_work/Arboria-Book.ttf);
}
@font-face {
    font-family: "workon-bold";
    src: url(/fonte_work/Arboria-Bold.ttf);
}
*{
    font-family: "workon";
}
span{
    font-family: "workon-bold";
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    width: 60%;
}
img{
    margin: 3%;
    border: 1px solid black;
}