@font-face {
    font-family: "workon";
    src: url(/fonte_work/Arboria-Book.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: workon;
    /* font-family: "Poppins", sans-serif; */
}
/*------------------DECLARANDO CORES FIXAS------------------ */
:root{
    --cor-principal: #047cc7;
    --contraste-principal: #035d95;
}

/*------------------MAIN------------------ */
main{
    width: 100vw;
    height: 90vh;
}

section{
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
   position: absolute;
   left: 2vw; 
   top: 2vh;

}

/*------------------FORMULÃRIO------------------ */
form{
    width: 80vw;
    height: 95vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center ;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 15px;
}

/*------------------DENTRO DO FORMULARIO------------------ */ 
.termo{
    width: 100%;
    height: 90%;
    display: flex;
    gap: 1rem;
}

.termo-maquina, .termo-colaborador{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.termo-colaborador{
    width: 50%;
    height: 100%;
    border-left: 0.5px solid rgba(0, 0, 0, 0.471);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs-maquina{
    height: 100%;
    gap: 1rem;
}
.inputs-maquina, .inputs-colaborador{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    /* border: 1px solid black; */
}
.gp-input-maquina{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.gp-input-maquina > input{
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px ;
    border: 0.5px solid rgba(0, 0, 0, 0.471);
}
input:focus{
    outline: 2px solid var(--contraste-principal);
}
label{
    margin: 0.2rem;
}
.gp-acessorios{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gp-acessorios > input:focus{
    outline: none;
}

select{
    border-radius: 5px;
    padding: 0.3rem;
    transition: 0.2s;
}
select:hover{
    /* box-shadow: 2px 5px 1px rgba(0, 0, 0, 0.504); */
    box-shadow: 3px 5px 1px #C8C8C8;
    transform: translateY(-10px);
    transition: 0.2s;
}

/* -------------BUTTON------------------ */
#submit {
    width: 10rem;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    background-color: var(--cor-principal);
    color: white;
    transition: 0.5s;
    font-size: 1.3rem;
    cursor: pointer;
    background-size: cover; 
}
#submit::before{
    content: "Gerar Termo";
    /* display: block;  */
}
#submit:hover{
    background-image: url(/assets/img/logo_workon_negativo.png);
    background-position: center;
    color: transparent;
    transform: scale(0.9);
    transition: 0.5s;
}
#submit::after{
    content: "";
}

/*------------------ASSINATURA------------------ */

#box-flutuante-assinatura{
    display: none;
}
#box-flutuante-assinatura {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro */
    align-items: center;
    justify-content: center;
}
#assinatura {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.buttons-assinatura{
    margin-top: 1rem;
    width: 100%;
    display: inline;
}
.buttons-assinatura > button{
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}
.buttons-assinatura > button:hover{
    transform: scale(0.9);
    transition: 0.5s;
}
#limparAssinatura{
    background-color: red;
}
#salvarAssinatura{
    background-color: green;
}
#netPageImprimir{
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    background-color: var(--cor-principal);
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#netPageImprimir:hover{
    transform: scale(0.9);
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    form{
        padding-top: 4rem;
        border: none;
        width: 100vw;
        height: 100vh;
    }
    .termo{
        height: 200%;
        flex-direction: column;
    }
    .termo-maquina, .termo-colaborador{
        width: 100%;
        height: 50%;
    }
    .termo-colaborador{
        border: none;
    }
}
